*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbarNav ul{
    margin-left: auto;
    margin-right: 35px;

}
#navbarNav ul li{
padding: 0px 0px 0px 18px;
}
#navbarNav h4{
    color: #28a745;
}


.firstSection{
    width: 100%;
    font-family: fantasy;
    color: #28a745;
}
.firstSection section{
    background-image: url(./images/represent-banner-1300x508-1.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */
}


.firstSection section button{
    text-align: center;
    margin: 360px 0px 0px 260px    ;
    font-size: 2em;
    background-color: #28a745;
    border: 1px solid #28a745;
}
.EntireUI{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.secondSection{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}
.secondSection h1{
    text-align: center;
    font-family: fantasy;
    
}
/* .secondSectioncontent{
    display: grid;
} */


.card-img-top{
    /* object-fit: cover; */
    height: 300px;

}
.card{
    border: 1px solid black;
    font-family: fantasy;


}

.card hr{
    border: 1px solid black;
}


.secondSection button{
    font-family: fantasy;
    font-size: 2em;
text-align: center;
margin-left: 540px;
/* margin-right: auto; */


}
.secondSection button a{
text-decoration: none;
color: white;

}
hr{
    border: 1px solid black;
}



.firstPart h1{
    text-align: center;
    font-family: fantasy;
}

.firstPart p{
    font-size: 1.3em;
    
}

.secondPart h1{
    text-align: center;
    font-family: fantasy;
}
.secondPart p {
    font-size: 1.3em;
}





